/* Styles here! */

body{
    font-family: 'Oswald', sans-serif;
}

.a_logo{
    display: block;
    padding-top: 14px;
    padding-left: 24px;
    position: relative;
}

.glass{
    display: block;
    padding-top: 14px;
    padding-left: 24px;
    width: 10px;
    right:0;
    top:0;
    position:absolute;
}
.background_properties{
    width:100%;
    filter: brightness(15%);
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.centered{
    position: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bold 120px/132px Oswald;
    border-bottom: 10px solid #ff3f10;
}

.main-menu {
    background: #ff3f10;
    color: white;
    font-size: 21px;
    font-weight: bold;
    margin:0;
    height: 80px;
    position:relative;
}
.main-menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 3%;
}
.main-menu ul{
    margin:0;
}
.main-menu li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font:  bold 25px/48px Oswald;
    height: 100%;
    margin-top: 0px;
    padding: 14px;
}
.main-menu li a:hover{
    background: white;
    color: #ff3f10;
}
.career-menu{
    font:  bold 16px/48px Oswald;
    padding-top:0px;
    font-weight: 600;
    list-style-type: none;
    width: 200px;
    margin-left:550px;
    overflow: visible;
    min-width:0px;
    display:none;
}

.list_class{
    margin: 0;
    height:100%;
}
