/* Styles here! */

body{
    font-family: 'Oswald', sans-serif;
}

.a_logo{
    display: block;
    padding-top: 14px;
    padding-left: 24px;
    position: relative;
}

.a_logo:hover{
    background: #ff3f10;
    color: white;
}

.glass {
    width: 59%;
    height: 100%;
}

.image-properties{
    position: relative;
    text-align: center;
    color: white;
    width:100%;
    padding:0;
    filter: brightness(15%);
}

.centered-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bold 120px/132px Oswald;
    color: white !important;

}

.centered-text:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    border-bottom: 10px solid #ff3f10;
}

.main-menu {
    background: #ff3f10;
    color: white;
    font-size: 21px;
    font-weight: bold;
    margin:0;
    height: 80px;
    position:relative;
}
.main-menu li {
    list-style-type: none;
    display: inline-block;
    margin: -7px 18px 0;

}
.main-menu li:last-child {
    width: 60px !important;
}
.main-menu ul{
    margin:0;
    padding: 0;
}
.main-menu li a {
    color: white;
    text-decoration: none;
    font:  bold 25px/48px Oswald;
    padding: 22px 27px;
}
.main-menu li a:hover{
    background: white;
    color: #ff3f10;
}
.main-menu li:last-child a:hover,
.main-menu .a_logo:hover {
    background: transparent;
}
.career-menu{
    font:  bold 16px/48px Oswald;
    font-weight: 600;
    list-style-type: none;
    width: 200px;
    overflow: visible;
    min-width:0px;
    display:none;
    background: white;
    color: black;
    position: absolute;
    top: 80px;
    padding-left: 500px;
    z-index: 2;
}

.footer{
    padding-left: 100px;
    padding-right: 100px;
}

.navigator{
    position:static;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.overlay{
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    position: fixed;
}